@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html{
    margin: 0;
}
body{
    margin: 0;
}
.header_menu > div {
    font-family: Arial, serif;
    font-size: 30px;
    color: darkslategrey;
    float: left;
    background-color: rgba(85, 100, 15, 0.2);
    text-align: center;
    width:210px;
    position: center;
    margin-left: 5px;
    border: none;
    height: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 0;
}
.header_menu .submit_btn form input {
    width: 30px;
    height: 30px;
    object-position: left;
}

.header_menu .submit_btn{
    text-align: left;
    font-size: 20px;
    width: 441px;

}
.header_menu .submit_btn {
    text-align: center;
    font-size: 20px;
    width: 40px;
}
.logged_user a{
    font-size: 20px;
    text-decoration: none;
    color: rgba(9,7,22,0.63);
}
.header_menu .logged_user{
    text-align: left;
}
.lang form {
    margin-bottom: 0;
    float: right;

}
