@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-image: url("pictures/fishing2.jpg");
}
.login_window_background{
    background-color: lightgray;
    margin-left: 550px;
    margin-top: 100px;
    margin-right: 550px;
}
.login_form {
    font-size: 20px;
    padding-top: 1px;
    text-align: center;
    border-radius: 10px;

}
.login_form form p {
    font-size: 60px;
    color: darkslategrey;
}
.login input {
    width: 250px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    background-color: rgba(213,216,202,0.8);
    padding-bottom: 0;
}
.login p{
    font-size: 10px;
}
.login_form .login_btn input {
    width: 250px;
    height: 50px;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(66,100,64,0.9);
    letter-spacing: 5px;
    }
.register_btn input{
    border: 0;
    border-radius: 10px;
    height: 30px;
    background-color: rgba(50,100,50,0.9);
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
    margin-left: 15px;
    width: 100px;
    color: rgb(213,216,202,1);
    letter-spacing: 2px;
}
.register_btn a{
    font-weight: bold;
    color: rgb(0,0,0,1);
    text-decoration-style: inherit;
}
.register_btn input:hover{
    opacity: 0.9;
}
.login_btn:hover{
    opacity:0.9;
}
.register_btn a:hover{
    opacity: 0.9;
}