body {
    background-image: url("pictures/fishing2.jpg");
}
body .greeting_message {
    font-size: 50px;
    font-family: SansSerif, serif;
    color: darkslategrey;
    position: center;
    padding-top: 100px;
    padding-left: 100px;

}