.body {
    background-color: rgba(106,155,55,0.2);
}

body .greeting_message {
    font-size: 50px;
    font-family: SansSerif, serif;
    color: darkslategrey;
    position: center;
    padding-top: 100px;
    padding-left: 100px;

}