body .fill_in_register_form_greeting {
    font-size: 50px;
    text-align: center;
    color: #d4f49e;
    margin-top: 0;
    width: fit-content;
    height: fit-content;
    padding-top: 100px;
    padding-left: 25%;
}

body .registration_form .message {
    color: saddlebrown;
    font-size: 15px;
    letter-spacing: 1px;
}

body .registration_form {
    font-family: Arial;
    background-color: rgba(177, 158, 90, 0.7);
    width: 400px;
    height: fit-content;
    text-align: center;
    margin-left: 37%;
    margin-top: 30px;
    padding-bottom: 20px;
    font-size: 20px;
    letter-spacing: 5px;
    color: #2a2a2a;

}

body .registration_form .field {
    background-color: #d4f49e;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom-width: 1px;
    border-bottom-color: darkslategrey;
    height: 30px;
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 20px;
    font-family: Arial;
}
body .registration_form .label{
    margin-bottom: 10px;
}
body .pop_register {
    background-color: rgba(0, 0, 0, 0.6);
    height: 800px;
}

.register_btn {
    color: black;
    background-color:  rgba(25, 137, 10, 0.8);
    font-family: Arial, serif;
    letter-spacing: 3px;
    border: 0;
    height: 35px;
    width: 300px;
    font-size: 20px;
    cursor: pointer;

}

